.PhoneInputCountryIconImg{
    height: 5vw;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
}
.PhoneInputInput{
    padding: 4px;
    outline: 2px solid #cec8c8;
    border-radius: 2px;
}
.PhoneInputCountrySelect{
    padding: 3px;border-radius: 3px;
    outline: 2px solid #cec8c8;
width: 30%;
    background-color: #FFFFFF;
}